/* Reset */

* {
  box-sizing: border-box;
}

button:hover,
input:hover {
  cursor: pointer;
}


/* Base */

body {
  background-color: #0f0f0f;
  color: #ede;
  font-family: 'open-sans', sans-serif;
}

.todo-app {
  display: flex;
}


/* Sidebar */

.sidebar {
  border: 1px solid grey;
  padding: 4px;
}

.list {
  background: none;
  color: #eec;
  display: block;
  margin-bottom: 10px;
}

.today {
  margin-bottom: 20px;
}

.newlist {
  background-color: rgb(69, 69, 69);
  color: #eee;
}


/* Content */

.content {
  margin: 100px;
}

.todo {
  background-color: #0a1313;
  border: 1px solid rgb(69, 240, 240, 0.25);
  margin-bottom: 20px;
  padding: 4px;
}


/* Dialog */

dialog::backdrop {
  backdrop-filter: blur(3px);
}
