/* Reset */

* {
  box-sizing: border-box;
}

button:hover,
input[type="checkbox"]:hover {
  cursor: pointer;
}


/* Base */

body {
  background-color: #0f0f0f;
  color: #ede;
  font-family: 'open-sans', sans-serif;
}

.row-group {
  display: flex;
}


/* Sidebar */

.sidebar {
  border: 1px solid grey;
  padding: 4px;
}

.sidebar-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.list {
  display: block;
}

.list {
  background: inherit;
  color: #eec;
  margin-bottom: 10px;
}

.today {
  margin-bottom: 20px;
}


.sidebar-tools {
  width: 100%;
  margin-top: auto;
}

.tool {
  background-color: rgb(69, 69, 69);
  color: #eee;
  display: block;
  width: 100%;
  margin-bottom: 2px;
}


/* Content */

.content {
  margin: 100px;
}

.todo {
  background-color: #0a1313;
  border: 1px solid rgb(69, 240, 240, 0.25);
  margin-bottom: 20px;
  padding: 4px;
}


/* Dialog */

dialog::backdrop {
  backdrop-filter: blur(3px);
}

dialog {
  background-color: rgb(25, 25, 25);
  box-shadow: 2px 2px 2px black;
  border: 1px solid grey;
}

dialog > h2 {
  color: #eee;
  text-align: center;
  margin-top: 0px;
}

#listname {
  background-color: #0f0f0f;
  color: #eec;
  caret-color: #eec;
  padding: 2px;
}

#listname:focus {
  outline: none;
}

#submit {
  margin-left: 10px;
  background-color: rgb(69, 69, 69);
  color: #eee;
}
