/* Reset */

* {
  box-sizing: border-box;
}

button:hover,
input[type="checkbox"]:hover {
  cursor: pointer;
}


/* Base */

body {
  background-color: #0f0f0f;
  color: #ede;
  font-family: 'open-sans', sans-serif;
}

.row-group {
  display: flex;
}


/* Sidebar */

.sidebar {
  border: 1px solid grey;
  padding: 4px;
}

.sidebar-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.list {
  background: inherit;
  color: #eec;
  display: block;
  padding: 1px 6px;
  width: auto;
  margin-bottom: 10px;
}

.today {
  margin-bottom: 20px;
}


.sidebar-tools {
  width: 100%;
  margin-top: auto;
}

.tool {
  background-color: rgb(69, 69, 69);
  color: #eee;
  display: block;
  width: 100%;
  margin-bottom: 2px;
}


.sidebar.cursor-delete {
  cursor: crosshair;
}
.list.cursor-delete {
  cursor: cell;
}
.tool.cursor-delete {
  cursor: not-allowed;
}


/* Content */

.content {
  margin: 100px;
}

.todo {
  background-color: #0a1313;
  border: 1px solid rgb(69, 240, 240, 0.25);
  margin-bottom: 20px;
  padding: 4px;
}

.create-todo {
  background: none;
  color: rgb(69, 240, 240, 0.75);
  border: 1px solid rgb(69, 240, 240, 0.5);
  padding: 6px 12px;
}
